<body class="body">
<mat-card class="two-card">
  <mat-card-header>
    <mat-card-title>Create Your Reservation</mat-card-title>
    <mat-card-subtitle>With some quick information input, we create your reservation!</mat-card-subtitle>
  </mat-card-header>
  <hr>
  <mat-card-content>
    <div class="input-row">
      <mat-form-field class="input-field">
        <input [(ngModel)]="reservation.name" class="input-box" matInput matTooltip="Your name" placeholder="Name">
      </mat-form-field>

      <mat-form-field class="input-field">
        <input [(ngModel)]="reservation.make" class="input-box" matInput matTooltip="Your car's make (eg. Toyota, GMC, Jeep)"
               placeholder="Make">
      </mat-form-field>

      <mat-form-field class="input-field">
        <input [(ngModel)]="reservation.model" class="input-box" matInput
               matTooltip="Your car's model (eg. Camry, Wrangler, F150)" placeholder="Model">
      </mat-form-field>
    </div>

    <div class="input-row">
      <mat-form-field class="input-field">
        <input [(ngModel)]="reservation.color" class="input-box" matInput matTooltip="Your car's color" placeholder="Color">
      </mat-form-field>

      <mat-form-field class="license">
        <input [(ngModel)]="reservation.licensePlate" class="input-box" matInput matTooltip="Your car's license plate"
               placeholder="License plate">
      </mat-form-field>
    </div>
    <div class="input-row">
      <span class="one-day-toggle">
        <mat-label>One Day</mat-label>
        <mat-slide-toggle [(ngModel)]="reservation.oneDay" color="primary"></mat-slide-toggle>
      </span>
      <mat-form-field class="input-field">
        <mat-label>Choose a date</mat-label>
        <input [(ngModel)]="reservation.startDate" [matDatepicker]="picker1" matInput>
        <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="input-field">
        <mat-label>Choose a date</mat-label>
        <input [(ngModel)]="reservation.endDate" [disabled]="reservation.oneDay" [matDatepicker]="picker2" matInput>
        <mat-datepicker-toggle [disabled]="reservation.oneDay" [for]="picker2" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker2 [disabled]="reservation.oneDay"></mat-datepicker>
      </mat-form-field>
    </div>
  </mat-card-content>
  <hr>
  <mat-card-actions class="card-actions">
    <button (click)="save()" [disabled]="buttonsDisabled" color="primary" mat-raised-button>Create Reservation</button>
    <button (click)="cancel()" [disabled]="buttonsDisabled" color="primary" mat-raised-button>Cancel</button>
  </mat-card-actions>

</mat-card>
<mat-card class="two-card">
  <mat-card-header>
    <mat-card-title>Your Ticket</mat-card-title>
    <mat-card-subtitle>Preview of What your ticket will look like</mat-card-subtitle>
  </mat-card-header>
  <hr>
  <mat-card-content>
    <div class="ticket-row">
      <span class="ticket-box-1">Name: {{reservation.name}}</span>
      <span class="ticket-box-1">Spot Number: {{reservation.spotNumber}}</span>
    </div>
    <div class="ticket-row">
      <span class="ticket-box-1">Paid: Y/N</span>
      <span class="ticket-box-1">Date: {{getDate()}}</span>
    </div>
    <div class="ticket-row">
      <span class="ticket-box-2">Make: {{reservation.make}}</span>
      <span class="ticket-box-2">Model: {{reservation.model}}</span>
      <span class="ticket-box-2">Color: {{reservation.color}}</span>
      <span class="ticket-box-2">Plate: {{reservation.licensePlate}}</span>
    </div>
  </mat-card-content>
</mat-card>
</body>
