<title>Digital Parking Solutions</title>
<body>
<mat-toolbar class="toolbar" color="primary">
  Digital Parking Solutions
  <div class="icons">
    <span class="nav-icon">Park <mat-icon>location_city</mat-icon></span>
    <span class="nav-icon">Check Availability <mat-icon>calendar_today</mat-icon></span>
    <span class="nav-icon">Change Reservation <mat-icon>edit_calendar</mat-icon></span>
  </div>
</mat-toolbar>
<mat-card>
  <mat-card-header>
    <mat-card-title>Welcome to Digital Parking Solutions</mat-card-title>
    <mat-card-subtitle>You can reserve parking spots, check availability, and cancel reservations here
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="center">
    <img
      src="https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2021/05/931/524/iStock-472933698.jpg?ve=1&tl=1">
  </mat-card-content>
</mat-card>
</body>
