<title>Digital Parking Solutions</title>
<body>
<mat-toolbar class="toolbar" color="primary">
  <a class="nav-icon" routerLink="">Digital Parking Solutions</a>
  <div class="icons">
    <a class="nav-icon" routerLink="park">Park
      <mat-icon>location_city</mat-icon>
    </a>
    <a class="nav-icon" routerLink="look">Check Availability
      <mat-icon>calendar_today</mat-icon>
    </a>
    <a class="nav-icon" routerLink="edit">Change Reservation
      <mat-icon>edit_calendar</mat-icon>
    </a>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
</body>
