/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css2?family=Inconsolata&display=swap';

mat-icon {
  margin: 10%;
}

mat-card {
  margin: 1%;
}

body {
  background-color: lightgrey;
  margin: 0;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
