<div class="print-ticket-dialog">
  <span class="ticket-box">Name: <span class="bold">{{data.name}}</span></span>
  <span class="ticket-box">Spot Number:  <span class="bold">XXXXX</span></span>
  <span class="ticket-box">Paid:  Y/<span class="bold">N</span></span>
  <span class="ticket-box">Date:  <span class="bold">{{getDate()}}</span></span>
  <span class="ticket-box">Make:  <span class="bold">{{data.make}}</span></span>
  <span class="ticket-box">Model:  <span class="bold">{{data.model}}</span></span>
  <span class="ticket-box">Color:  <span class="bold">{{data.color}}</span></span>
  <span class="ticket-box">Plate:  <span class="bold">{{data.plate}}</span></span>

  <hr>

  <span class="ticket-box">Name: <span class="bold">{{data.name}}</span></span>
  <span class="ticket-box">Spot Number:  <span class="bold">XXXXX</span></span>
  <span class="ticket-box">Paid:  Y/<span class="bold">N</span></span>
  <span class="ticket-box">Date:  <span class="bold">{{getDate()}}</span></span>
  <span class="ticket-box">Make:  <span class="bold">{{data.make}}</span></span>
  <span class="ticket-box">Model:  <span class="bold">{{data.model}}</span></span>
  <span class="ticket-box">Color:  <span class="bold">{{data.color}}</span></span>
  <span class="ticket-box">Plate:  <span class="bold">{{data.plate}}</span></span>
</div>
